.scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.progress-bar-div {
  padding-left: 20%;
}
.progress-bar-div p {
  position: relative;
  left: 60%;
  bottom: 30%;
}
